

.portfolioBtn:hover{
    box-shadow: 0 0 10px 0 #3489eb inset, 0 0 10px 4px #3489eb;
}

.about--profile-pic{
    max-width: 75%;
    -webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

.about--link {
    display: flex;
    align-items: center;
    justify-content: center;
}